<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tictactoe">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ttt_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".Instructions_activity"/>



        <activity android:name=".Players_1_Name_Activity" />
        <activity android:name=".Players_2_Name_activity" />
        <activity android:name=".Players_1" />
        <activity android:name=".Menu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Players_2"
            android:screenOrientation="portrait" />
    </application>

</manifest>